[Unit]
Description=Init GitHub Runners via Compose
After=network.target docker.service

[Service]
WorkingDirectory=/root/action-runner-in-docker/compose
ExecStart=/root/action-runner-in-docker/compose/daemon.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target