[Unit]
Description=Init GitHub Runners via Compose
After=network.target docker.service

[Service]
WorkingDirectory=/root/action-runner-in-docker/compose
ExecStart=./daemon.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target